.sideNavbar{
height:100vh;
border-right: 1px solid var(--black-10, rgba(0, 0, 0, 0.10));
background: #FFF;

 

}
.logo {
  display: flex;
  gap: 15.57px;
  padding: 20px;
}

.logo img {
  width: 33.429px;
  height: 42.545px;
}

.logo span {
  color: var(--black-100, var(--black-100, #1c1c1c));
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
} 




.side-heading{
  font-size: 18px;
  font-weight: 600;
  
}
.sidebar-buttons ul {
  justify-content: center;
  gap: 10px;
}

.demo-list li {
  width: 242px;
  height: auto;
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
}
.demo-list li p {
  color: var(--noble-black-0, #fff);
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0.15px;
  padding: 2px;
  margin: 0px;
}
.demo-list li img {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.demo-list li:nth-child(1) {
  background: linear-gradient(90deg, #9400d3 0%, #4b0082 100%);
}
.demo-list li:nth-child(2) {
  background: linear-gradient(90deg, #ec008c 0%, #fc6767 100%);
}
.demo-list li:nth-child(3) {
  background: linear-gradient(90deg, #ff8008 0%, #ffc837 100%);
}



.line-2{
  margin-top: 64px;
}


/* history */



.history-record {
  
  padding: 12px;
  padding-bottom: 0px;
  gap: 12px;
}

 .history-record img {
  width: 24px;
  height: 24px;
}
 .history-record p {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
} 








/* feature */

.feature-btn-container ul {
 
  gap: 4px;
  padding: 20px ;
}

.feature-btn-container ul li {
  padding: 12px;
  gap: 12px;
}

.feature-btn-container ul li img {
  width: 24px;
  height: 24px;
}
.feature-btn-container ul li {
  padding: 12px;
  display: flex;
  gap: 12px;
  cursor: pointer;
}

.feature-btn-container ul li p {
  color: var(--black-100, var(--black-100, #1c1c1c));
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
